.container {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(#100230, #180348);
}

.title {
  margin-top: 0;
  padding-top: 3rem;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  font-size: 4rem;
  color: white;
}

.signUp--form {
  width: 50%;
  height: 25%;
  margin-right: auto;
  margin-left: auto;
}

.input__container {
  margin-top: 1.3rem;
  width: 20rem;
  margin-left: auto;
  margin-right: auto;
}

.form__label {
  color: white;
}

.form__input {
  display: block;
  width: 15rem;
}

.form__error {
  width: 20rem;
  margin-left: auto;
  margin-right: auto;
  color: red;
}

.submit__btn {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1rem;
  background-color: #ee37f7;
  border: none;
  width: 15rem;
  height: 3rem;
  border-radius: 8px;
}

.div__container {
  border-radius: 12px;
  border: solid #5840ff;
  width: 50rem;
  margin-left: auto;
  margin-right: auto;
}

.message {
  color: white;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
}

.link__login {
  display: block;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  text-decoration: none;
  font-size: 2rem;

  color: #5feef6;
  margin-bottom: 2rem;
}
